#wrap {
    background: #000;
}
#myAlbum{
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    position: absolute;
    background: #fff;
}
#userBox {
    position: relative;
    left: 330px;
    top: -50px;
}
#userBox img {
    width: 70px;
    height: 70px;
    border: 5px solid #F7F7F7;
    margin-left: 15px;
}
#userBox h5 {
    float: left;
    display: inline;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}
#myAlbum li{
    padding-top: 15px;
    margin-left: 20px;
    width: 480px;
    height: 100px;
}
#myAlbum li:last-child{
    height: 50px;
}
#myAlbum li h5{
    color: #59698B;
    font-size: 20px;
    font-weight: normal;
    float: left;
    line-height: 30px;
}
.date{
    float: left;
    width: 85px;
}
.day{
    font-size: 35px;
    display: inline;
}
.month{
    font-size: 15px;
    display: inline;
}
.photo{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}