#gobackBtn {
    float: left;
    padding: 12px 12px 13px 20px;
}
#toolBar h4 {
    font-weight: normal;
    line-height: 50px;
    display: inline;
    margin-left: 8px;
    color: #fff;
}
#menuBtn {
    float: right;
    padding: 10px 20px 15px 20px;
}
#slideMenu{
    position: absolute;
    top: 70px;
    right: 15px;
    background: #21292B;
    color: #fff;
    display: none;
}
#slideMenu li{
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-indent: 25px;
}