#wrap {
    background: #ebebeb;
}
#toolBar h4 {
    font-weight: normal;
    line-height: 50px;
    display: inline;
    margin-left: 8px;
    color: #fff;
}
#gobackBtn {
    float: left;
    padding: 12px 12px 13px 20px;
}
#personBtn {
    float: right;
    padding: 12px 20px 13px 20px;
    cursor: pointer;
}
#words li{
    background: #B1E866;
    width: 200px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    position: relative;
    margin-left: 170px;
    margin-top: 20px;
    border: 1px solid #7FB140;
}
#words p{
    display: inline;
}
.tri{
    position: absolute;
    width: 8px;
    right: -8px;
    top: 15px;
}
.headIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    right: -60px;
}
#inputBar {
    position: absolute;
    bottom: 0;
    width: 480px;
    height: 55px;
    border-top: 1px solid #f0f0f0;
    background: #fff;
}
#inputBar input {
    font-size: 23px;
    margin-left: 60px;
    margin-top: 15px;
    width: 330px;
    height: 30px;
    color: #474b4a;
    outline: medium;
    border-bottom: 2px solid #4f8643;
}
#voiceBtn {
    position: absolute;
    bottom: 1px;
    left: 3px;
    float: left;
}
#biaoqing{
    padding-bottom: 7px;
    padding-right: 10px;
    border-bottom: 2px solid #4f8643;
    position: relative;
    left: -10px;
}
#gengduo {
    position: absolute;
    right: 3px;
    bottom: 2px;
    float: right;
}
#inputBar p {
    font-size: 12px;
    width: 40px;
    text-align: center;
    color: #bababa;
}