#wrap {
    background: #ebebeb;
}
#toolBar h4 {
    font-weight: normal;
    line-height: 50px;
    display: inline;
    margin-left: 20px;
    color: #fff;
}
#gobackBtn {
    float: left;
    margin: 12px 12px 12px 20px;
}
#personBtn {
    float: right;
    padding: 12px 20px 5px 20px;
    cursor: pointer;
}
#bottomBar {
    position: absolute;
    bottom: 0;
    width: 480px;
    height: 55px;
    border-top: 1px solid #f0f0f0;
    background: #fff;
}
#bottomBar h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 55px;
    display: inline;
    width: 300px;
    margin-left: 60px;
    padding: 7px 130px;
    border: 1px solid #969696;
    border-radius: 5px;
}
#keyboard {
    position: absolute;
    bottom: 1px;
    left: 3px;
    float: left;
}
#gengduo {
    position: absolute;
    right: 3px;
    bottom: 2px;
    float: right;
}
#bottomBar p {
    font-size: 12px;
    width: 40px;
    text-align: center;
    color: #bababa;
}