#wrap {
    background: #ebebeb;
}
#words li{
    background: #B1E866;
    width: 200px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    position: relative;
    left: 170px;
    margin-top: 20px;
    border: 1px solid #7FB140;
}
#words p{
    display: inline;
}
.tri{
    position: absolute;
    width: 8px;
    right: -8px;
    top: 15px;
}
.headIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    right: -60px;
}
#inputBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-top: 1px solid #f0f0f0;
    background: #fff;
}
#inputBar input {
    font-size: 23px;
    padding-top: 14px;
    padding-left: 5px;
    width: 66.6%;
    height: 30px;
    color: #474b4a;
    outline: medium;
    border-bottom: 2px solid #4f8643;
    float: left;
}
#voiceBtn{
    float: left;
    padding: 10px;
}
#biaoqing{
    padding: 15px 10px 0 0;
    border-bottom: 2px solid #4f8643;
    float: right;
}
#gengduo{
    float: right;
    padding: 10px;
}
#inputBar p {
    font-size: 12px;
    width: 40px;
    text-align: center;
    color: #bababa;
}