#wrap {
    background: #000;
}
#gobackBtn {
    float: left;
    padding: 12px 12px 13px 20px;
}
#toolBar h4 {
    font-weight: normal;
    line-height: 50px;
    display: inline;
    margin-left: 8px;
    color: #fff;
}
#searchBtn {
    float: right;
    padding: 10px 20px 15px 20px;
}
#addBtn {
    float: right;
    padding: 10px 20px 15px 20px;
}
#friendNews{
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    position: absolute;
    background: #fff;
}
#friendNews li{
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    width: 480px;
    height: 100px;
    position: relative;
}
#friendNews li h5{
    font-size: 15px;
    font-weight: normal;
    float: left;
}
#friendNews li h6{
    font-size: 10px;
    font-weight: normal;
    float: right;
    margin-right: 15px;
    color: #707070;
}
#friendNews li:last-child{
    height: 60px;
}
.newsImg{
    position: absolute;
    clip: rect(240px 120px 300px 0px);
    bottom: 10px;
    left: 55px;
}
.headImg{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 10px;
}