#wrap {
    background: #fff;
}
.fixLi {
    padding: 9px 15px;
    border-bottom: 1px solid #f0f0f0;
}
h5.user {
    font-size: 20px;
    font-weight: normal;
    position: relative;
    top: -14px;
    display: inline;
    height: 55px;
}
li.nav {
    line-height: 25px;
    width: 480px;
    height: 25px;
    text-indent: 20px;
    color: #868686;
    background: #ebebeb;
}
li.friends, li.friend {
    height: 55px;
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid #f0f0f0;
}
li.friends img, li.friend img {
    width: 42px;
    height: 42px;
}
#a-z {
    font-size: 15px;
    position: absolute;
    top: 80px;
    right: 5px;
    text-align: center;
    background: #fff;
}
#a-z li {
    width: 20px;
    height: 20px;
}
#contactsList {
    overflow: scroll;
    overflow-x: hidden;
    height: 80%;
    position: absolute;
}
#shade {
    background: rgba(0, 0, 0, .5);
}