#wrap {
    background: #fff;
}
.fixLi {
    padding: 9px 15px;
    border-bottom: 1px solid #f0f0f0;
}
.user {
    font-size: 20px;
    font-weight: normal;
    position: relative;
    top: -14px;
    display: inline;
    height: 55px;
}
.gap {
    font-size: 20px;
    width: 480px;
    text-indent: 20px;
}
.friends, .friend {
    height: 55px;
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid #f0f0f0;
}
.friends img, .friend img {
    width: 42px;
    height: 42px;
}
#a-z {
    position: absolute;
    top: 80px;
    right: 5px;
    text-align: center;
    background: #fff;
    height: 80%;
    font-size: 1em;
}
#a-z li {
    height:3.5%;
}
#contactsList {
    overflow: scroll;
    overflow-x: hidden;
    height: 80%;
    position: absolute;
}
#shade {
    background: rgba(0, 0, 0, .5);
}