#wrap {
    background: #000;
}
#gobackBtn {
    float: left;
    margin: 12px 0 12px 20px;
}
#toolBar h4 {
    font-weight: normal;
    line-height: 50px;
    display: inline;
    margin-left: 20px;
    color: #fff;
}
#cameraBtn {
    float: right;
    margin: 10px 20px;
}
#friendNews{
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    position: absolute;
    background: #fff;
}
#spinner{
    display: none;
    margin-left: 20px;
    position: absolute;
    z-index: 2;
}
#friendNews li{
    border-top: 2px solid #eee;
    padding-top: 15px;
}
#userBox {
    height: 80px;
    width: 80px;
    background: #fff;
    border: 1px solid #F7F7F7;
    position: relative;
    left: 380px;
    top: -50px;
}
#userBox img {
    width: 70px;
    height: 70px;
    padding: 5px;
}
#userBox h5 {
    width: 40px;
    position: absolute;
    right: 85px;
    top: 15px;
    color: #fff;
}
.user{
    width: 480px;
    height: 300px;
    position: relative;
}
.user h5{
    color: #59698B;
    font-size: 20px;
    font-weight: normal;
    float: left;
    line-height: 30px;
}
.user p{
    position: absolute;
    top: 45px;
    left: 85px;
}
.newsImg{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 85px;
    top: 80px;
}
.headImg{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 10px;
}
#shade {
    position: absolute;
    bottom: 0;
    display: none;
    width: 480px;
    height: 100%;
    background: #000;
}
#zoomImg {
    position: absolute;
    top: 150px;
    left: 0;
}