#wrap {
    background: #000;
}
#friendNews{
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    position: absolute;
    background: #fff;
}
#spinner{
    display: none;
    margin-left: 20px;
    position: absolute;
    z-index: 2;
}
#banner{
    position: relative;
}
#userBox {
    position: absolute;
    right: 20px;
    bottom: -30px;
}
#userBox img {
    width: 70px;
    height: 70px;
    border: 5px solid #F7F7F7;
    margin-left: 15px;
}
#userBox h5 {
    float: left;
    display: inline;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}
#friendUpdate li{
    border-bottom: 2px solid #eee;
    padding-top: 15px;
    width: 100%;
    height: 300px;
    position: relative;
}
#friendUpdate li h5{
    color: #59698B;
    font-size: 20px;
    font-weight: normal;
    float: left;
    line-height: 30px;
}
#friendUpdate li p{
    position: absolute;
    top: 45px;
    left: 85px;
}
#friendUpdate li:last-child{
    margin-bottom: 55px;
}
.newsImg{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 85px;
    top: 80px;
}
.headImg{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 10px;
}

