#personality {
    height: 90px;
    cursor: pointer;
    background: #fff;
}
#personality h6 {
    font-size: 15px;
    font-weight: normal;
    color: #a7a7a7;
}
#personality img {
    float: left;
    width: 50px;
    height: 50px;
    padding: 20px;
}
#personality h5 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0 10px 0;
}