#toolBar img {
    float: right;
    padding: 10px 20px 15px 20px;
}
li.meLi {
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
}
.meLi img {
    position: relative;
    top: 10px;
    float: left;
    padding: 0 30px;
}
h5.me {
    font-size: 20px;
    font-weight: normal;
    line-height: 50px;
    float: left;
}
#userName {
    height: 90px;
    cursor: pointer;
}
#userName h6 {
    font-size: 15px;
    font-weight: normal;
    position: relative;
    top: 55px;
    left: -50px;
    color: #a7a7a7;
}
#userName img {
    top: 20px;
    width: 53px;
    height: 53px;
    margin-left: -5px;
}
#userName h5 {
    line-height: 90px;
    position: relative;
    top: -10px;
    left: -10px;
    height: 90px;
}
li.gap {
    line-height: 25px;
    width: 480px;
    height: 25px;
    text-indent: 20px;
    color: #868686;
    background: #ebebeb;
}
#slideMenu{
    position: absolute;
    top: 70px;
    right: 15px;
    background: #21292B;
    box-shadow: 15px 15px 15px #eee;
    color: #fff;
    display: none;
}
#slideMenu ul li{
    width: 220px;
    height: 50px;
    line-height: 50px;
}
#slideMenu ul li img{
    padding: 10px 15px;
    float: left;
}