#personalityDetails h5 {
    font-size: 18px;
    text-indent: 20px;
}
#personalityDetails h5 span {
    position: absolute;
    right: 20px;
    color: #A9A9A9;
}
#userName {
    height: 90px;
}
#userName h5 {
    line-height: 90px;
}
#userName h6 {
    font-size: 15px;
    font-weight: normal;
    color: #a7a7a7;
}
#userName img {
    float: right;
    width: 50px;
    height: 50px;
    padding: 20px;
    top: 0;
}
#twoDContact img {
    float: right;
    width: 25px;
    height: 25px;
    padding: 13px 20px;
    top: 0;
}