#wrap {
    background: #ebebeb;
}
#personList {
    margin-bottom: 40px;
}
.user {
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
}
.person {
    font-size: 20px;
    font-weight: normal;
    line-height: 50px;
}
#userBox {
    background: #ebebeb;
    height: 110px;
}
#userBox h4, #userBox h6 {
    font-size: 15px;
    font-weight: normal;
    color: #a7a7a7;
}
#userBox h5 {
    font-size: 20px;
    line-height: 40px;
    padding-top: 5px;
}
#userBox img {
    float: left;
    padding: 10px;
    width: 70px;
    height: 70px;
}
#personList h5 {
    font-size: 18px;
    text-indent: 20px;
}
#personList h5 span {
    position: absolute;
    left: 100px;
}
#personAlbum {
    height: 100px;
}
#personAlbum h5 {
    line-height: 100px;
    margin-right: 20px;
    float: left;
}
#personAlbum div{
    position: absolute;
    left: 120px;
}
#personAlbum img{
    padding: 10px 0;
    height: 80px;
    width: 80px;
}
#personTag span {
    color: #596d90;
}
#personSNS span img {
    padding: 12px 0;
}
#sendBtn, #visionChat {
    line-height: 55px;
    width: 90%;
    height: 55px;
    margin: 20px 5%;
    text-align: center;
    border-radius: 3px;
}
#sendBtn {
    color: #fff;
    background: #45c018;
}
#visionChat {
    background: #fff;
}
#slideMenu li:last-child img{
    width: 40px;
    height: 40px;
}
#slideMenu li:last-child{
    height: 60px;
}
