#wrap {
    background: #504F4B;
}
#botBar {
    position: absolute;
    bottom: 0;
    height: 90px;
    background: #131510;
    width: 480px;
}
#botBar div {
    display: block;
    float: left;
    padding: 19px 40px;
}
#botBar p {
    font-size: 12px;
    width: 40px;
    text-align: center;
    color: #bababa;
}
#middleFrame h2{
    text-align: center;
    color: #B1B1B1;
    font-size: 20px;
    font-weight: normal;
}
#scanFrame{
    width: 220px;
    height: 200px;
    margin: 20% auto 0 auto;
    position: relative;
    background: #A3A69B;
}
#scanFrame img{
    position: absolute;
}
#tl{
    left: 0;
}
#tr{
    right: 0;
}
#bl{
    bottom: 0;
}
#br{
    bottom: 0;
    right: 0;
}
#scrollBar{
    width: 100%;
    bottom: 100%;
}