#wrap {
    background: #fff;
}
#main{
    width: 100%;
}
#searchIcon {
    float: left;
    padding: 12px 5px 5px 0;
    border-bottom: 2px solid #4f8643;
}
#inputSearch {
    float: left;
    font-size: 20px;
    height: 42px;
    line-height: 55px;
    width: 295px;
    color: #474b4a;
    border-bottom: 2px solid #4f8643;
    outline: medium;
    background: #212a2a;
}
#searchVoiceBtn {
    float: right;
    padding: 12px 20px 5px 20px;
    border-bottom: 2px solid #4f8643;
}
#tip h3 {
    font-weight: normal;
    margin-top: 80px;
    text-align: center;
    color: #a9a9a9;
}
#tipIcons {
    width: 100%;
    width: 62.5%;
    height: 65px;
    margin: 0 auto;
}
#tipIcons a {
    float: left;
    margin: 30px 5%;
}
#tipIcons p {
    font-size: 12px;
    width: 40px;
    text-align: center;
    color: #bababa;
}