#settingList h5 {
    font-size: 18px;
    text-indent: 20px;
}
#settingList h4 {
	font-weight: normal;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 15px;
}
.barCol img {
    float: right;
    padding: 13px 0;
}