#wrap {
    background: #282C2D;
}
#gobackBtn {
    float: left;
    padding: 12px 12px 13px 20px;
}
#toolBar h4 {
    font-weight: normal;
    line-height: 50px;
    display: inline;
    margin-left: 8px;
    color: #fff;
}
#settingBtn {
    float: right;
    padding: 10px 20px 15px 20px;
}
#botBar {
    position: absolute;
    bottom: 0;
    height: 90px;
    background: #282C2D;
    width: 480px;
}
#botBar div {
    float: left;
    padding: 19px 58px;
}
#botBar p {
    font-size: 14px;
    width: 40px;
    text-align: center;
    color: #bababa;
}
#botBar div:last-child p {
    width: 50px;
}
#shakeImg{
    margin: 30% auto 0 auto;
    display: block;
}