#wrap {
    background: #282C2D;
}
#shakeBar {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
}
#shakeBar img {
    width: 40px;
    height: 40px;
    padding: 0 58px;
}
#shakeBar div {
    float: left;
}
#shakeBar p {
    font-size: 14px;
    width: 156px;
    text-align: center;
    color: #bababa;
}
#shakeImg{
    margin: 30% auto 0 auto;
    display: block;
}