#wrap {
    background: #282C2D;
}
#botBar {
    position: absolute;
    bottom: 0;
    height: 90px;
    background: #282C2D;
    width: 480px;
}
#botBar div {
    float: left;
    padding: 19px 58px;
}
#botBar p {
    font-size: 14px;
    width: 40px;
    text-align: center;
    color: #bababa;
}
#botBar div:last-child p {
    width: 50px;
}
#middleFrame{
}
#shakeImg{
    margin: 30% auto 0 auto;
    display: block;
}