#wrap {
    background: #ebebeb;
}
#main{
    height: 100%;
}
#trunOffBtn {
    float: left;
    padding: 12px 0px 13px 20px;
}
#toolBar h4 {
    font-weight: normal;
    line-height: 50px;
    display: inline;
    margin-left: 20px;
    color: #fff;
}
#menuBtn {
    float: right;
    padding: 10px 20px 15px 20px;
}
#jingdong{
    width: 100%;
    height: 100%;
}
#shade {
    position: absolute;
    bottom: 0;
    display: none;
    width: 480px;
    height: 100%;
    background: #000;
}
#shade img {
    position: absolute;
    top: 150px;
}
#popMenu {
    position: absolute;
    top: 250px;
    left: 65px;
    display: none;
    width: 350px;
    height: 120px;
    background: #fff;
}
#popMenu h2{
    margin: 0;
    height: 70px;
    line-height: 70px;
    font-weight: normal;
    text-align: center;
    font-size: 22px;
}
#popMenu li {
    float: left;
    width: 174px;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border-right: 1px solid #eee;
}
#popMenu li:first{
        border-top: 1px solid #eee;
}
#slideMenu{
    position: absolute;
    top: 70px;
    right: 15px;
    background: #21292B;
    box-shadow: 15px 15px 15px #eee;
    color: #fff;
    display: none;
}
#slideMenu li{
    width: 220px;
    height: 50px;
    line-height: 50px;
}
#slideMenu li img{
    padding: 10px 15px;
    float: left;
}
#slideMenu li:last-child img{
    width: 40px;
    height: 40px;
}
