#wrap {
    background: #fff;
}
#toolBar img {
    float: right;
    padding: 10px 20px 15px 20px;
}
#subBar {
    height: 55px;
    background: #F5F5F5;
}
#subBar h6 {
    font-size: 17px;
    line-height: 55px;
    float: left;
    color: #dfdfdf;
}
#pc {
    float: left;
    margin: 14px 30px;
}
#ring {
    float: right;
    margin: 17px 10px;
}
#chatList li {
    position: relative;
    height: 55px;
    padding: 5px 15px;
    border-bottom: 1px solid #f0f0f0;
}
#chatList img {
    width: 53px;
    height: 53px;
}
h5.user {
    font-size: 20px;
    font-weight: normal;
    position: relative;
    top: -32px;
    display: inline;
}
p.date {
    font-size: 12px;
    float: right;
    margin: 10px;
    color: #bebebe;
}
p.preview {
    font-size: 15px;
    position: relative;
    top: -25px;
    margin-left: 60px;
    color: #bfbfbf;
}
#shade {
    background: rgba(0, 0, 0, .5);
}
.setTop {
    background: #f4ffef;
}
.unreadTag {
    position: absolute;
    top: 1px;
    left: 58px;
}